:root {
  /* Base Background & Text */
  --bg: rgb(43, 43, 43);
  --bg-light: rgb(70, 70, 70);
  --off-white: rgb(130, 130, 130);
  --text: rgb(230, 230, 230);

  /* Primary Branding */
  --primary: rgb(104, 177, 223);
  --primary-hover: rgb(60, 85, 100);

  /* Accent / Secondary Buttons */
  --accent: rgb(132, 169, 140);
  --accent-hover: rgb(110, 145, 120);

  /* CTA / Highlight */
  --highlight: rgb(220, 183, 104);
  --highlight-text: rgb(30, 30, 30);

  /* Alerts */
  --danger: rgb(177, 70, 70);
  --danger-hover: rgb(140, 40, 40);

  /* Distance Variables */
  --nav-bar-height: 8dvh;
  --video-height: 85dvh;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    background-color: var(--bg);
    color: var(--text);
}

#page {
    padding: var(--nav-bar-height) 0 0 0;
}

.btn:hover {
    cursor: pointer;
}

.btn {
    padding: 1rem;
    border: none;
    background-color: var(--primary);
    color: var(--text);
    font-size: large;
}

.nav-container {
    position: fixed;
    z-index: 2;
    background-color: rgba(43, 43, 43, 0.7);
    backdrop-filter: blur(0.2rem);
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: var(--nav-bar-height);
    width: 100dvw;
}

.primary-heading {
    color: var(--primary);
    font-size: 4dvh;
}

#nav > ul {
    display: flex;
    flex-direction: row;
}

.navItem {
    margin: 0 3dvw;
    font-size: 2.5dvh;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#b-roll {
    position: fixed;
    min-height: var(--video-height);
    z-index: -1;
    min-width: 100dvw;
    top: -8dvh;
}


#video-spacer {
    height: var(--video-height);
    display: flex;
    align-items: space-evenly;
    justify-content: start;
    font-size: 5rem;
}

.headline {
    height: var(--video-height);
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headline > h1 {
    font-size: 4rem;
    margin: 0;
}

.headline > h3 {
    font-size: 2rem;
    margin: 0;
}



a {
    all: unset;
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

li {
    list-style-type: none;
}

.home-section {
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.what-we-do {
    max-width: 100dvw;
    height: 60rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 0;
}

.what-we-do > h2 {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.what-we-do-container {
    height: 100%;
    display: flex;
}

.what-we-do-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: max-content;
    width: 40rem;
}

.what-we-do-list-container > h2 {
    align-self: center;
}

.what-we-do-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5dvh;
}

.what-we-do-list-item {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.what-we-do-list-description {
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 8rem 1rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: start;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, calc(100% - 8rem) 0%, 100% 100%, 0% 100%);
}

.what-we-do-img-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100dvw - 40rem);
    padding: 0;
    margin: 0;
}

.icon {
    max-height: 100%;
}

.what-we-do-img {
    max-width: calc(100dvw - 42rem);
    height: 100%;
}
    
.section-dark {
    background-color: var(--bg);
}

.section-light {
    background-color: var(--bg-light);
}

.call-section {
    flex-direction: row;
    gap: 5dvw;
    justify-content: space-between;
    width: 100%;
    height: 30dvh;
}

.call-btn-container {
    display: flex;
    flex-direction: column;
    width: 20dvw;
    justify-content: space-around;
    align-items: center;
}

.call-btn {
    height: fit-content;
    width: 15dvw;
    justify-self: start;
}

